{% extends 'base.html' %}

{% block title %}Editar Estudiante{% endblock %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card shadow-sm p-4">

            <h3 class="text-center mb-3">Editar — {{ estudiante.nombre }}</h3>

            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                </div>

                <div class="mb-3">
                    {{ form.grado.label_tag }}
                    {{ form.grado }}
                </div>

                <div class="mb-3">
                    {{ form.seccion.label_tag }}
                    {{ form.seccion }}
                </div>

                <button class="btn btn-warning w-100">
                    Guardar Cambios
                </button>

            </form>

            <a href="{% url 'estudiantes' %}" class="btn btn-outline-secondary w-100 mt-2">
                Cancelar
            </a>

        </div>
    </div>
</div>

{% endblock %}