{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

```
    <div class="card shadow-sm">
        <div class="card-body">

            <h5 class="mb-3">Editar Usuario</h5>

            <form method="post">
                {% csrf_token %}

                <!-- USUARIO -->
                <div class="mb-3">
                    <label class="form-label">Usuario</label>
                    {{ form.username }}
                </div>

                <hr>

                <h6 class="text-muted mb-3">Cambiar contraseña</h6>

                <!-- PASSWORD -->
                <div class="mb-3">
                    <label class="form-label">Nueva contraseña</label>
                    {{ form.nueva_password }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirmar contraseña</label>
                    {{ form.confirmar_password }}
                </div>

                <!-- BOTONES -->
                <div class="d-flex justify-content-between">
                    <a href="{% url 'usuarios' %}" class="btn btn-outline-secondary">
                        Volver
                    </a>

                    <button class="btn btn-success">
                        Guardar
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>
```

</div>

{% endblock %}
